body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    min-width:300px;
    align-items: center;
    justify-content: center;
    -moz-appearance: none;
    overflow-x: hidden;
    margin: 0 auto;
}

.navbar {
    position:fixed;
    top: 0;
    right: 0;
    list-style-type: none;
    margin: 0;
    padding: 10px;
    display: flex;
    justify-content: flex-end;
}

.navbar li {
    display: inline;
    margin: 10px;
}
.navbar a {
    color: rgb(51, 49, 49);
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    font-size: 0.8em;
}

.nav-signin a {
    background:#0042bdc9;
    color: white;
    padding: 10px 20px 10px 20px;
    border-radius:8%;
    font-size: 15px;
}

.google-big-logo {
    margin: 80px 50vw 20px 50vw;
    justify-self:center;
}
form {
    display:grid;
    width: 90vw;
    max-width:584px;
    grid-template-columns: auto 160px 160px auto;
    grid-template-rows: 70% 30%;
    grid-template-areas: 
        "input input input input"
        ". buttonA buttonB .";
    margin: auto;
}

form .input-zone {
    grid-area: input;
    margin-bottom: 40px;
    border-radius: 30px;
    width: auto;
    max-width:584px;
    height: 3em;
    display: flex;
    justify-content:flex-start;
    border-style:solid;
    border-width: 1px;
    color:rgb(170, 170, 170);
}

.search-icon {

    padding: 15px;
}

form input {
    grid-area: input;

    width:85%;
    max-width:584px;
    font-family: 'Roboto';
    font-size: 16px;
    font-weight:1px;
    border-radius: 30px;
    border-style:none;
    outline: none;
}

form .search-button {
    grid-area: buttonA;
    margin-right: 5px;
}
form .lucky-button {
    grid-area: buttonB;
    margin-left: 5px;
}

form button {
    background-color: rgb(248, 248, 248);
    border-style: none;
    padding: 10px 20px 10px 20px;
    color:rgb(66, 66, 66);
    font-family: sans-serif;
    font-size:0.8em;
}

.footer {
    position:fixed;
    left:0;
    bottom:0;
    width:95%;
    display:flex;
    justify-content:space-evenly;
    background-color:rgb(245, 245, 245);
    padding: 10px 30px 10px 10px;
    margin-bottom: 0;
    border-top:1px;
    border-bottom: 0;
    border-right: 0;
    border-left: 0;
    border-style: solid;
    border-color: rgb(204, 204, 204);
}

.footer li {
    list-style:none;
    margin: 10px 5px 10px 5px;
}

.footer a {
    font-family: 'Roboto';
    color:gray;
    text-decoration: none;
    font-size: 0.9em;
}

@media (max-width:690px) {
    .footer {
        flex-wrap: wrap;
        /* margin: 0 auto;*/
        padding-left:15%;
        padding-right:100%;
        max-width:350px;
        align-self:center;
    }
    .li {
        width:100%;
        position:absolute;
        padding-left:30%
    }

}