@font-face {
    font-family: 'Allison';
    src: url('./Allison-Regular.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Nothing';
    src: url('./NothingYouCouldDo-Regular.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Rocksalt';
    src: url('./RockSalt-Regular.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Fred';
    src: url('./FrederickatheGreat-Regular.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}


body {
    background-image: url('bg.jpg');
    background-size: cover;
    background-position-x: -100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0px;
}

header {
    text-align:center;
    background-image: url('bg.jpg');
    background-size:cover;
    
}
header .title {
    font-family: 'Fred', cursive;
    font-size: 50px;
    margin: 15px;
    background-image: url('bg.jpg');
    background-size:contain;
    width:300px;
}

@media (max-width:400px) {
    header .title {
        max-width:400px;
    }
}

header .motto {
    background-image: url('bg.jpg');
    background-size:contain;
    padding: 8px;
    font-family: 'Nothing', cursive;
    font-size: 16px;
}

footer {
    text-align: center;
    border-top-style: solid;
    font-family: 'Rocksalt', cursive;
    font-size:8px;
}

main {
    min-height: 600px;
    display: flex;
    flex-direction: row;

}


nav {
    background-image: url('bg.jpg');
    background-size:auto;
    align-self:stretch;
    padding: 15px;
    text-align: center;
}
.navTitle {
    font-size:15px;
}
.navList {
    list-style: none;
    padding-left: 0px;
}
.navButton {
    font-family:'Fred', cursive;
    font-size: 15px;
    margin-bottom: 10px;
    border-style:solid;
    border-radius: 5px;
    width:80px;
    padding:5px;
}
.navButton:hover {
    transition:0.8s;
    background-color: rgba(255, 242, 215, 0.842);
}

.contentContainer {
    align-self: stretch;
    width: 100%;
    padding:10px;
    font-family: 'Rocksalt', cursive;
}

.assetContainer {
    border-radius: 4px;
    padding: 15px;
    margin-top: 30px;
    background-image: url('listBG.jpg');
    background-size: contain;
}
.itemContainer {
    border-radius: 10px;
    display: grid;
    background-color: rgba(255, 250, 227, 0.575);
    width:100%;
    grid-template-columns: 30px 0.8fr 120px 30px 30px 20px 20px;
    grid-template-rows: 40px;
    margin: 5px;
    align-items: center;
    font-family: 'Nothing', cursive;
}

input.itemDueDate {
    font-family: 'Fred', cursive;
    background:none;
    border-style:none;
}
.icon {
    width: 18px;
    height:auto;
}

.assetTitle {
    display:grid;
    grid-template-columns: 1fr 40px 20px 20px;
    grid-template-rows: 40px;
    grid-template-areas: "title icon edit delete";

}
.icon#addItem {
    margin-left:50%;
    margin-top:10px;
    width:30px;
}

.icon#sort {
    padding:5px;
    padding-top: 15px;
}
.icon#priority, .icon#category{
    width:30px;
    grid-area: 'icon';
}
.icon#edit {
    grid-area:'edit';
}
.icon#delete {
    grid-area:'delete';
}

/* title,
    project,
    dueDate,
    priority,
    notes,
    category, */

/*

PROJECT
 [ ] title     |   dueDate    | categoryemoticon | priority color emoticon

on hover, show 
    [Part of ] PROJECT
        L notes
*/

/* 
PRIORITY
 [ ] title     |   dueDate    | categoryemoticon | priority color emoticon

 on hover on title, show 
    [Part of ] PROJECT
        L notes
 */


 /* CATEGORY
 [ ] title     |   dueDate    | categoryemoticon | priority color emoticon

 on hover on title, show 
    [Part of ] PROJECT
        L notes 
        
*/
