/* @font-face {
  font-family: 'Coming Soon';
  src: url('./ComingSoon-Regular.ttf') format('ttf');
  font-weight: 600;
  font-style: normal;
} */

@font-face {
    font-family: 'Mr Dafoe';
    src: url('./MrDafoe-Regular.ttf') format('ttf');
    font-weight: 600;
    font-style: normal;
  }


.name {
    font-family: 'Mr Dafoe', cursive;
}

h1, .motto {
    font-family: 'Coming Soon', cursive;
}

footer {
    font-family: 'Mr Dafoe', cursive;
}

