body {
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-content: center;
}

header {
    display: flex;
    flex-direction: column;
    align-content:stretch;
    text-align:center;
}

h1 {
    font-family: 'Major Mono Display', monospace;
}

.playersInfo {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content:stretch;
    text-align:center;
    font-family: 'Poppins', sans-serif;
}

.buttons {
    display:flex;
    justify-content: center;
    margin:20px;
}
.restart {
    font-family: 'Poppins', sans-serif;
    appearance: button;
    background-color: #000;
    background-image: none;
    border: 1px solid #000;
    border-radius: 4px;
    box-shadow: #fff 4px 4px 0 0,#000 4px 4px 0 1px;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    margin: 0 5px 10px 0;
    overflow: visible;
    padding: 12px 40px;
    text-align: center;
    text-transform: none;
    touch-action: manipulation;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: middle;
    white-space: nowrap;
}

.restart:focus {
  text-decoration: none;
}

.restart:hover {
  text-decoration: none;
}

.restart:active {
  box-shadow: rgba(0, 0, 0, .125) 0 3px 5px inset;
  outline: 0;
}

.restart:not([disabled]):active {
  box-shadow: #fff 2px 2px 0 0, #000 2px 2px 0 1px;
  transform: translate(2px, 2px);
}

@media (min-width: 768px) {
  .restart {
    padding: 12px 50px;
  }
}

.gameBoard {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    justify-content: center;
    font-family: 'Homemade Apple', cursive;
}

.square {
    border-style:solid;
    text-align: center;
    line-height: 100px;
}

.winner {
    display:none;
    background: rgb(168, 204, 97);
    font-family: 'Poppins', sans-serif;
    border-style:solid;
    position:fixed;
    width:150px;
    padding: 50px;
    top: 385px;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.winnerName {
    font-family: 'Homemade Apple', cursive;
    font-size:1em;
    margin-bottom: 10px;
}

footer {
    text-align: center;
    margin-top: 40px;
    font-family: 'Poppins', sans-serif;
}