@font-face {
  font-family: "Major Mono";
  src: url("./MajorMonoDisplay-Regular.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
body, html {
  padding: 0px;
  margin:0px 10px 0px 10px;
  min-height:100%;
  background-color: rgb(80, 47, 12);
}

header {
  height: 100px;
  background-color: rgb(80, 47, 12);
  display:flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}
h1 {
  margin: 0px;
  font-family: "Major Mono", cursive;
  color: rgb(141, 253, 253);
  text-align: center;
  
}
footer {
  font-family: "Major Mono", cursive;
  color: #dfd6ce;
  text-align: center;
  margin-top: 20px;
  margin-bottom:20px;
}
footer a {
  text-decoration: none;
  color:rgb(141, 253, 253);
}
main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.frame {
  position: relative;
  max-width: 500px;
  max-height:500px;
  border-style:double;
  border-color: rgba(53, 40, 27, 0.692);
  border-width: 20px;
  overflow:hidden;
}

img {
  width:100%;
  animation: timeoutFade 5s ease-in 0s;
}
@keyframes timeoutFade {
  0% {
    opacity:0;
    translate:0% 0%;
  }
  10% {
    opacity:1;
    translate:0% 0%;
  }
  90% {
    opacity:1;
    translate:0% 0%;
  }
  100% {
    translate: -200% 0%;
    opacity: 0;
  }
}

.btn {
  cursor: pointer;
  position: absolute;
  top: 50%;

  font-size:30px;
  color:rgba(243, 230, 211, 0.534);
  
  border-style: solid;
  border-color:rgba(175, 153, 127, 0);
  border-width: 2px;
  padding:8px;
  width:auto;
}
.btn:hover {
  
  border-color:rgba(175, 153, 127, 0.281);
  background-color: rgba(223, 193, 158, 0.596);
  color:rgba(59, 54, 46, 0.541);
  transition:all 200ms ease-in-out;
}

.btn#prev {
  left:0;
  border-radius:10px 3px 3px 10px;
}
.btn#next {
  right:0;
  border-radius:3px 10px 10px 3px;
}


.dotsContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.dot {
  cursor: pointer;
  margin: 5px;
  width: 20px;
  height: 20px;
  color: #333;
  border-radius: 50%;
  background-color: #dfd6ce;
}

.active {
  border: 2px solid rgb(141, 253, 253);
  background-color: rgb(141, 253, 253);
}